* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.nice-form-group {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ffffff;
    opacity: 0.8;

    /*background-image: url("../assets/1.jpg");
    background-size: cover;
    overflow-x: hidden;*/

    background-image: linear-gradient(#fafafa 2px, transparent 2px),
        linear-gradient(90deg, #fafafa 2px, transparent 2px),
        linear-gradient(#fafafa 1px, transparent 1px),
        linear-gradient(90deg, #fafafa 1px, #ffffff 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    overflow-x: hidden;

}

h1,
h2 {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
}
h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    text-align: left;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}

header {
    width: 100%;
    padding: 20px;
}

main {
    width: 100%;
}

footer {
    width: 100%;
    padding: 20px;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-body-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper > .school-logo img {
  width: 48em;
}

.search-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.main-body-wrapper {
    display: flex;
    flex-direction: column;
}


  
