.button-open-add {
  text-decoration: none;
  color: white;
}

.button-open-profile {
  text-decoration: none;
  color: black;
}

.button-close {
    text-decoration: none;
    color: black;
}

.add-student-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.501);

  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.add-student-modal:target {
  opacity: 1;
  visibility: visible;
}
.student-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32em;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.student-profile {
  display: flex;
  flex-direction: column;
}
.student-info {
  display: flex;
  flex-direction: row;
}

.student-icon {
  margin: 20px;
}
.student-icon img {
  width: 128px;
}

.student-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.student-details .name, .id, .blocksection {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  margin-bottom: 12px;
}

.violation-details {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  background: rgba(249, 249, 249, 0.736);
  border: 2px solid rgba(0, 0, 0, 0.317);
  border-radius: 8px;
  padding: 10px;
}

.student-active-violations {
  margin-bottom: 15px;
}
.violation-details:hover {
  border: 2px solid var(--uscgreen);
}

.violation-details h3 {
  text-align: justify;
}